.app-template {
    height: 100vh;
    display: flex;
  }
  
  /* .contact, .contactDetail {
    flex: 1;
    padding: 1rem;
  } */
  
  .contact {
    flex: 1;
    background: #f1f3f5;
  }
  
  .contactDetail {
    flex: 2;
    background: #f1f3f5;
  }